<html>
  <head>
    <title>edit</title>
  </head>
  <body>
    <h1>Edit your gossip</h1>
    <form action='/gossips/<%= id_of_url %>/edit/' method='POST'>
      <p>Saisi ici ton nom :  <input type='text' name='gossip_new_author'/><br/>
      <p>Balance ton potin : <input type='text' name='gossip_new_content'/><br/>
      <p> WARNING : I DID NOT SOLVE THIS PROBLEM</p>
      <input type='submit'/>
    </form>
  </body>
</html>